<launch>
	<arg name="transport" default="compressed" />
	<arg name="ns_base" default="turtlebotcam" />
	<arg name="ns_repl" default="camera" />

	<remap from="/$(arg ns_repl)/camera_info" to="/$(arg ns_base)/camera_info" />
	<node pkg="rqt_image_view" type="rqt_image_view" name="rqt_image_view" />
	<node pkg="image_transport" type="republish" name="republisher" args="$(arg transport) in:=/$(arg ns_base)/image_raw raw out:=/$(arg ns_repl)/image_raw" output="screen" />
	<node pkg="image_proc" type="image_proc" name="image_proc" ns="$(arg ns_repl)" />

	<node pkg ="project" type="brain.py" name="brain" output="screen"/>
	<node pkg ="project" type="detect1.py" name="detect" output="screen"/>
</launch>
